<div class="modal-backdrop" appAccessibleClick (accessibleClick)="close()">
    <div class="modal-content" appTrapFocus [onEscape]="close" (click)="$event.stopPropagation()">
        <button class="close-button" appAccessibleClick (accessibleClick)="close()">×</button>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <h4 class="text-center">Reset Password</h4>

            <div class="form-row">
                <div *ngIf="!email">
                    <label for="email">Email:</label>
                    <input type="email" formControlName="email" id="email" required />
                </div>
            </div>

            <div class="form-row">
                <div>
                    <label for="password">New Password:</label>
                    <input type="password" formControlName="password" id="password" required />
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" formControlName="confirmPassword" id="confirmPassword" required />
                </div>
            </div>
            <button type="submit" class="link" [disabled]="resetForm.invalid">Resetiraj lozinku</button>
        </form>

        <div class="success-message" *ngIf="successMessage">{{ successMessage }}</div>
        <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
    </div>
</div>