<div class="modal-backdrop" appAccessibleClick (accessibleClick)="close()">
    <div class="modal-content"  appTrapFocus [onEscape]="close" appAccessibleClick (accessibleClick)="$event.stopPropagation()">
      <button class="close-button" appAccessibleClick (accessibleClick)="close()">×</button>
  
      <form [formGroup]="emailForm" (ngSubmit)="requestReset()">
        <h2 class="text-center">Zaboravljena lozinka</h2>
  
        <div class="form-row">
          <label for="email">Email adresa:</label>
          <input id="email" formControlName="email" type="email" placeholder="Unesi svoj email" />
          <div class="error-placeholder">
            <p class="error" *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.touched || submitted)">
              Unesi ispravan email.
            </p>
          </div>
        </div>
  
        <div class="text-center">
          <button type="submit" [disabled]="emailForm.invalid">Pošalji reset link</button>
        </div>
      </form>
    </div>
  </div>